@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease;
}

body {
  font-family: 'Inter', sans-serif; /* Pastikan body tidak memiliki background-color tetap yang menimpa dark mode */
}

/* Keyframes untuk animasi fade-in-up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Keyframes untuk animasi fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}